<div class="ui segment">
    <h4 class="ui dividing header">SMS Manager</h4>
	<p>{{ 'mango-sylius.admin.form.smsManager.infoText'|trans }}</p>
    {{ form_row(form.smsManager.enabled) }}
    {{ form_row(form.smsManager.apikey) }}
    {{ form_row(form.smsManager.gateway) }}
    {{ form_row(form.smsManager.sender) }}
</div>
